<p>{{ title }}</p>
<p>Hello {{ getName() }}</p>
<p> {{ isLogin ? "登出" :"登入" }}</p>
<p>原價：{{price}}</p>
<p>優費價(7折)：{{price * 0.7}}</p>
<p>星期{{week[1]}}</p>
<p>{{ person[1].name }}您好，您 {{person[1].age}} 歲了</p> 
<!-- <p>{{ person?.name }}</p> -->
<hr />

<img src="../../assets/Angular_full_color_logo.svg.png" />
<img [src]="'../../assets/' + logo" />
<img bind-src="'../../assets/' + logo" />
<img src="{{'../../assets/' + logo}}" />
<hr />
<button [disabled]="!isValid">[disabled]</button>
<button bind-disabled="!isValid">bind-disabled</button>
<button disabled="{{!isValid}}">interpolation disabled</button>
<button [disabled]="true">click1</button>
<button [disabled]="!isValid">click2</button>
<hr />
<button (click)="sayHi('Jack')">click3</button>

<!-- <input type="text" (input)="getValue($event)" /> -->


<input  type="text" [(ngModel)]="message" />
<p>{{ message }}</p>


