.bgColor{
    background-color: silver;
}

.normal{
    width:400px;
    padding:10px;
}

.boldStyle{
    font-weight: bold;
}

.textStyle{
    text-decoration: underline;
}

.italicStyle{
font-style:italic;
}