<p>award works!</p>
<p>{{"angular developer"}}</p>
<p>{{"angular developer" | uppercase}}</p>
<p>{{"angular developer" | titlecase}}</p>
<p>{{"angular developer" | titlecase | slice:0:7}}</p>
<hr />
<p>{{3.1415926}}</p>
<p>{{3.1415926 | number}}</p>
<p>{{3.1415926 | number:'3.1-5'}}</p>
<hr />
<p>{{today}}</p>
<p>{{today | date}}</p>
<p>{{today | date:'full'}}</p>
<p>{{today | date:'fullDate'}}</p>
<p>{{today | date:'fullTime'}}</p>
<p>{{today | date:'yyyy/MM/dd EEEE'}}</p>
<p>{{today | date:'HH:mm:ss a'}}</p>
<p>巴黎：{{today | date:'full':'UTC+2'}}</p>

<p>台北：{{today | date:'full':'UTC+8':'tw'}}</p>
<p>東京：{{today | date:'full':'UTC+9':'ja'}}</p>
<p>首爾：{{today | date:'full':'UTC+9':'ko'}}</p>
<hr />
<p>{{12.345}}</p>
<p>{{12.345 | currency}}</p>
<p>{{12.345 | currency:'TWD':true:'3.0-2'}}</p>
<p>{{12.345 | currency:'TWD':false}}</p>
<p>{{12.345 | currency:'JPY':true}}</p>
<p>{{12.345 | currency:'KRW':true}}</p>
