<h2 appHighlight>directivedemo works!</h2>
<h2 [appHighlight]="'lightgreen'">light green directivedemo works!</h2>
<button (click)="show=!show">{{show? "hide":"show"}}</button>
<div *ngIf="show;else elseBlock">這段內容會顯示出來</div>
<ng-template #elseBlock><div>這裡也有一段內容</div></ng-template>
<hr />
<p>{{ cities | json }}</p>
<ul>
    <!-- <li>{{ cities[0] | json }} {{cities[0].cityName}}</li> -->
    <li *ngFor="let city of cities;index as i;count as total;even as isEven;last as isLast" 
    [ngClass]="{even:isEven,last:isLast}">{{i+1}}/{{total}}. {{city.cityName}}</li>
</ul>

<select [(ngModel)]="selectedCode">
    <option *ngFor="let city of cities" 
    [value]="city.cityCode">{{city.cityName}}</option>
</select>
<div [ngSwitch]="selectedCode">
    <div *ngSwitchCase="'KLU'">基隆市介紹</div>
    <div *ngSwitchCase="'TPH'">新北市介紹</div>
    <div *ngSwitchCase="'TPE'">台北市介紹</div>
    <div *ngSwitchCase="'TYC'">桃園市介紹</div>
    <div *ngSwitchDefault>不知</div>
</div>
<hr />
<h2 [appHighlight]="'cyan'">自訂屬性指令 directive</h2>
<input type="text" appAutouppercase />

<!-- <div *appIsLogin="isLogin">User 您好! 登出</div>
<div *appIsLogin="!isLogin">請先登入</div> -->

<div *appIsLogin="isLogin;then other">User 您好! 登出</div>
<ng-template #other><div>請先登入</div></ng-template>


